#blog {
    min-height: 100%;
    background-image: linear-gradient(#0000, var(--bg-color)), url("../img/vtn-min-square.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#blog h1 {
    margin-top: 2rem;
    font-size: 4rem;
}
#blog h1, #blog h2 {
    color: #fff;
}
#blog h3 {
    font-size: 1.3rem;
}
#blog p, #blog ul {
    font-size: 1.25rem;
}
#blog ul li {
    padding: .25rem;
}
.post {
    padding: 0 1rem;
    background: linear-gradient(var(--bg-color), #0000);
}
#arrows {
    text-align: center;
}
#arrows a {
    display: block;
}
#arrows a:nth-child(2) {
    margin-top: 1rem;
}
#left-arrow, #right-arrow {
    width: 1rem;
}
#left-arrow {
    transform: rotate(90deg);
}
#right-arrow {
    transform: rotate(-90deg);
}

@media(min-width: 600px) {
    #arrows a {
        display: initial;
    }
    #arrows a:nth-child(2) {
        margin-top: 0;
    }
}