#blog {
    min-height: 100%;
    background: linear-gradient(var(--bg-color), #0000 200%), url("../img/bg/vtn-min-tri.svg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
#blog h1 {
    margin-top: 2rem;
    font-size: 4rem;
}
#blog h1, #blog h2 {
    color: var(--fg-color);
}
#blog h3 {
    font-size: 1.3rem;
}
#blog p, #blog ul {
    font-size: 1.25rem;
}
#blog ul li {
    padding: .25rem;
}
.post {
    padding: 1rem 2rem;
    background: var(--bg-color);
}
#arrows {
    text-align: center;
}
#arrows a {
    display: block;
}
#arrows a:nth-child(2) {
    margin-top: 1rem;
}
#left-arrow, #right-arrow {
    width: 1rem;
}
#left-arrow {
    transform: rotate(90deg);
}
#right-arrow {
    transform: rotate(-90deg);
}

@media(min-width: 600px) {
    #arrows a {
        display: initial;
    }
    #arrows a:nth-child(2) {
        margin-top: 0;
    }
}