* {
    margin: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    background: var(--bg-color);
    color: var(--fg-color);
    font-family: 'Questrial', sans-serif;
    scroll-behavior: smooth;
    transition: .2s;
}
p, h1, h2, h3, h4 {
    padding: 1rem 0;
}
code {
    padding: .1rem .2rem;
    background: var(--code-bg);
    border-radius: .2rem;
}
a {
    display: inline-block;
    position: relative;
    padding: 1rem;
    background: var(--fg-color);
    color: var(--bg-color);
    border: 1px solid var(--fg-color);
    transform: perspective(1px) translateZ(0);
    text-decoration: none;
    cursor: pointer;
    transition: .2s;
}

body::-webkit-scrollbar {
    width: .5rem;
}
body::-webkit-scrollbar-track {
    background: var(--bg-color);
}
body::-webkit-scrollbar-thumb {
    background: var(--brand-color);
}
body::-webkit-scrollbar-thumb:active {
    background: var(--fg-color);
}

#hero {
    height: 100%;
}
#hero .container {
    display: flex;
    overflow: hidden;
}
#hero-content {
    margin: auto 0;
    z-index: 2;
}
#hero-bg-img {
    background-image: linear-gradient(var(--bg-color), #0000), url("../img/bg/vtn-min-tri.svg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
}
#hero h1 {
    font-size: 4rem;
}
#animated-bg {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    align-items: center;
    overflow: hidden;
    z-index: 0;
}
#animated-bg i {
    position: absolute;
    background: none;
    border-top: solid #0777;
    border-left: solid transparent;
    border-right: solid transparent;
    z-index: 0;

    animation: animate_bg ease-out infinite running;
}
#self-photo {
    margin: auto;
    width: 12rem;
    height: 12rem;
    background-image: url("../img/icon/vincent.jpg");
    background-size: cover;
    background-position: 40%;
    border-radius: 50%;
}

.container {
    width: 100%;
    height: 100%;
    padding: 3rem;
    position: relative;
    overflow: auto;
}
.section-header {
    margin-top: 2rem;
    font-size: 2rem;
}
.card-group {
    display: grid;
    margin-bottom: 2vw;
    grid-gap: 2vw;
    grid-template-columns: 1fr;
}
.card {
    float: left;
}
.card-thumb {
    height: 48vw;
    background: #077;
    background-image: linear-gradient(#0000, #0008), url("../img/bg/vtn-min-square.svg");
    background-position: center;
    background-size: cover;
    background-repeat: space;
    overflow: hidden;
    transition: background-size .2s;
}
.card-thumb a {
    display: flex;
    padding: 0;
    height: 100%;
    background: 0;
    border: 0;
    justify-content: center;
}
.card-thumb .card-logo {
    margin-top: 2.5%;
    height: 90%;
    transition: .2s;
}
.card-thumb .card-bg {
    visibility: hidden;
    width: 100%;
    min-height: 100%;
    position: absolute;
    transform: translateY(-100%);
    transition: .2s;
}
.card-thumb a:hover .card-logo, .card-thumb a:focus .card-logo {
    transform: translateY(100%);
    transition: .2s;
}
.card-thumb a:hover > .card-bg, .card-thumb a:focus > .card-bg {
    visibility: visible;
    transform: translateY(0);
    transition: .2s;
}
.card-body a, #more-projects {
    padding: .5rem 2rem;
}
.card-body .ext-link {
    padding: .25rem;
    line-height: 2rem;
    background: none;
    color: var(--fg-color);
    border: none;
}
.card-body .ext-link img {
    height: 1.25rem;
    vertical-align: text-bottom;
}
#more-projects {
    display: block;
    text-align: center;
}
.date {
    color: var(--date-color);
    font-size: .9rem;
    transition: color .2s;
}
.highlight {
    margin-right: .25rem;
    padding: .5rem;
    background: var(--fg-color);
    color: var(--bg-color);
    font-weight: bold;
}
.highlight img {
    height: 1rem;
}
.highlight > * {
    vertical-align: sub;
}
.email, footer a {
    padding: 0;
    background: 0;
    color: var(--fg-color);
    border: 0;
}
.email:hover, footer a:hover {
    background: 0;
    text-decoration: underline;
}
#follow-buttons img {
    height: 100%;
    margin-right: .5rem;
}
.img-light,
#follow-buttons a:hover .img-dark,
#follow-buttons a:focus .img-dark {
    display: var(--logo-light);
}
.img-dark,
#follow-buttons a:hover .img-light,
#follow-buttons a:focus .img-light {
    display: var(--logo-dark);
}
#follow-buttons a {
    margin: 0 .5rem .5rem 0;
    height: 3.5rem;
    float: left;
    position: relative;
}
#follow-buttons a > * {
    vertical-align: sub;
}
footer {
    background-image: linear-gradient(var(--bg-color), #0000 400%), url("../img/bg/vtn-min-square.svg");
    background-position: center;
    background-size: cover;
}

@media(min-width: 768px) {
    .card-group {
        grid-template-columns: repeat(2, 1fr);
    }
    .card-thumb {
        height: 24vw;
    }
}
@media(min-width: 1280px) {
    #about-section {
        float: left;
    }
    #self-photo {
        margin-left: 4rem;
        float: left;
    }

    .card-group {
        grid-template-columns: repeat(4, 1fr);
    }
    .card-thumb {
        height: 12vw;
    }
}
@media(min-width: 1920px) {
    html {
        font-size: 1vw;
    }
}