nav {
    position: fixed;
    padding: 1rem 2rem;
    width: 100%;
    transition: background-color .2s;
    z-index: 99;
}
nav img {
    height: 3rem;
}
nav #logo {
    float: left;
    padding: 0;
    height: 3rem;
    background: none;
    border: 0;
    border-radius: 50%;
}
nav #logo:hover, nav #logo:focus {
    box-shadow: 0 0 .1rem var(--fg-color);
}
nav #theme-btn {
    background: none;
    border: none;
    outline: none;
    opacity: .8;
}
nav #theme-btn:hover, nav #theme-btn:focus {
    opacity: 1;
    cursor: pointer;
}
nav ul {
    display: none;
    position: absolute;
    top: 5rem;
    right: 0;
    padding: 0;
    width: 100%;
    min-width: 15rem;
}
nav ul li {
    display: block;
    text-align: right;
}
nav ul li a {
    display: inline-block;
    padding: 2rem 3.5rem;
    width: 100%;
    background: var(--bg-color);
    color: var(--fg-color);
    border: 0;
}
nav ul li a:hover, nav ul li a:focus, nav ul li a:active {
    font-weight: bold;
    color: var(--bg-color);
}
nav label {
    display: block;
    float: right;
    height: 3rem;
    cursor: pointer;
}
#hamburger {
    display: none;
}
nav input:checked ~ ul {
    display: block;
}