#blog {
    background-image: url("../images/vtn-min-bg.svg");
    background-size: 200%;
    background-repeat: no-repeat;
    background-position-x: right;
    min-height: 100%;
}
#blog h1 {
    margin-top: 2rem;
    font-size: 4rem;
}
#blog p {
    font-size: 1.25rem;
}