* {
    margin: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    background: #000;
    color: #fff;
    font-family: 'Questrial', sans-serif;
    scroll-behavior: smooth;
}
p, h1, h2, h3, h4 {
    padding: 1rem 0;
}
a {
    padding: 1rem;
    background: #fff;
    color: #000;
    border: 1px solid #fff;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s;
}
a:hover, a:focus, a:active {
    background: #0008;
    color: #fff;
    transition: 0.2s;
}
#hero {
    height: 100%;
    background-image: url("../images/vtn-min-bg.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#hero .container {
    display: flex;
}
#hero-content {
    margin: auto 0;
}
#hero h1 {
    font-size: 4rem;
}
.container {
    width: 100%;
    height: 100%;
    padding: 3rem;
    overflow: auto;
}
.section-header {
    margin-top: 2rem;
    font-size: 2rem;
}
.card-group {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}
.card {
    float: left;
    min-width: 0;
}
.card-thumb {
    height: 10rem;
    background: #077;
    background-image: url("../images/card-thumb-bg.svg");
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.card-thumb a {
    display: flex;
    padding: 0;
    width: 100%;
    height: 100%;
    background: 0;
    border: 0;
    justify-content: center;
}
.card-thumb a:hover > img, .card-thumb a:focus > img {
    transform: scale(1.2);
}
.card-thumb img {
    max-height: 100%;
    transition: transform .2s;
}
.card-body {
    height: 60%;
}
.card-body a {
    padding: 0.5rem 2rem;
}
#more-projects {
    margin-top: 1rem;
    display: block;
    text-align: center;
}
.date {
    color: #ddd;
    font-size: 0.9rem;
}
.highlight {
    margin-right: 0.25rem;
    padding: 0.25rem 0.5rem;
    background: #fff;
    color: #000;
    font-weight: bold;
}
.email {
    padding: 0;
    background: 0;
    color: #fff;
    border: 0;
}
.email:hover {
    text-decoration: underline;
}
#follow-buttons a {
    margin: 0 0.5rem 0.5rem 0;
    float: left;
}

@media(max-width:999px) {
    .card-group {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(max-width: 699px) {
    .card-group {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width:499px) {
    .card-group {
        grid-template-columns: 1fr;
    }
}
