nav {
    position: fixed;
    padding: 1rem 3rem;
    width: 100%;
    transition: background-color .2s;
    z-index: 99;
}
nav ul li a {
    color: #fff;
    border: 0;
}
nav ul li a:hover, nav ul li a:focus, nav ul li a:active {
    background: #fff;
    color: #000;
}
#hamburger {
    display: none;
}
nav img {
    height: 48px;
}
nav #logo {
    float: left;
    padding: 0;
    height: 48px;
    background: #000;
    border: 0;
    border-radius: 50%;
}
nav #logo:hover, nav #logo:focus {
    background: #033;
}

@media(max-width: 768px) {
    nav label {
        display: block;
        float: right;
        height: 48px;
        cursor: pointer;
    }
    nav ul {
        display: none;
        position: absolute;
        top: 5rem;
        right: 0;
        padding: 0;
        width: 50%;
        min-width: 15rem;
    }
    nav ul li {
        display: block;
        text-align: right;
        transition: .2s;
    }
    nav ul li a {
        display: inline-block;
        padding: 2rem 3.5rem;
        background: #033;
        width: 100%;
    }
    nav ul li a:hover, nav ul li a:focus, nav ul li a:active {
        padding-right: 6rem;
    }
    nav input:checked ~ ul {
        display: block;
    }
}
@media(min-width: 768px) {
    nav label {
        display: none;
    }
    nav ul {
        float: right;
        list-style-type: none;
        overflow: hidden;
    }
    nav ul li {
        display: inline-block;
        line-height: 48px;
        background: 0;
    }
    nav ul li a {
        background: 0;
    }
}

@media (prefers-reduced-motion: reduce) {
    nav ul li a {
        transition: none;
    }
  }