nav {
    position: fixed;
    padding: 1rem 3rem;
    width: 100%;
    transition: 0.2s;
    z-index: 99;
}
nav ul {
    float: right;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}
nav ul li {
    display: inline-block;
    line-height: 48px;
}
nav ul li a {
    background: 0;
    color: #fff;
    border: 0;
}
nav ul li a:hover, nav ul li a:focus, nav ul li a:active {
    background: #fff;
    color: #000;
}
nav img {
    height: 48px;
}
nav #logo {
    float: left;
    padding: 0;
    height: 48px;
    background: #000;
    background: linear-gradient(#000, #000);
    border: 0;
    border-radius: 50%;
}
nav #logo:hover, nav #logo:focus {
    background: linear-gradient(135deg, #4448, #0008);
}
nav label, #hamburger {
    display: none;
}

@media(max-width: 699px) {
    nav label {
        display: block;
        float: right;
        height: 48px;
        cursor: pointer;
    }
    nav ul {
        display: none;
        position: absolute;
        top: 5rem;
        right: 0;
        width: 50%;
    }
    nav ul li {
        display: block;
        background-color: #033;
        text-align: right;
        transition: 0.2s;
    }
    nav ul li a {
        display: inline-block;
        padding-right: 4rem;
        width: 100%;
    }
    nav ul li a:hover {
        padding-right: 6rem;
    }
    nav input:checked ~ ul {
        display: block;
    }
}