nav {
    position: fixed;
    padding: 1rem 3rem;
    width: 100%;
    box-sizing: border-box;
    transition: 0.2s;
    z-index: 99;
}
nav a {
    background: none;
    color: #fff;
    border: 0;
}
nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    float: right;
}
nav ul li {
    display: inline-block;
    line-height: 48px;
}
nav li:hover, nav li:focus, nav li:active {
    background: #fff;
    cursor: pointer;
    transition: 0.2s;
}
nav li:hover > a, nav a:hover, nav a:focus, nav a:active {
    background: #fff;
    color: #000;
}
nav img {
    height: 48px;
}
nav #logo {
    float: left;
    background: #000;
    border-radius: 50%;
    height: 48px;
    padding: 0;
}
nav #logo:hover, nav #logo:focus {
    background: #222;
}
nav label, #hamburger {
    display: none;
}

@media(max-width: 699px) {
    nav label {
        float: right;
        display: block;
        cursor: pointer;
        height: 48px;
    }
    nav ul {
        position: absolute;
        display: none;
        top: 5rem;
        right: 0;
        width: 50%;
    }
    nav ul li {
        display: block;
        background-color: #033;
        text-align: right;
        transition: 0.2s;
    }
    nav ul li a {
        display: inline-block;
        padding-right: 4rem;
        width: 100%;
        box-sizing: border-box;
    }
    nav ul li a:hover {
        padding-right: 6rem;
    }
    nav input:checked ~ ul {
        display: block;
    }
}